.number {
    position: absolute;
    font-size: 4rem;
    background-color: lightgray;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: background-color color 2s;
}

.number-selected {
    background-color: rgba(220,220,220,0);
    color: black;
    z-index: 2;
}