.progress {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
}

.progress-test {
    width: fit-content;
}

.progress-numbers {
    opacity: 0;
}

.progress-number {
    position: absolute;
    opacity: 0.5;
    vertical-align: center;
}

.progress-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}